<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello.</h3>
    <p>We want to verify that you attempted to login to your mino account from a device we don't recognize. If you did, please follow this link:</p>
    <a href="<%= @verification_url %>">Confirm Recent Login Attempt</a><br />
    <p>If you didn't try and login from an unregistered device, you can safely ignore this email. Thanks!</p>
    <p>The mino team</p>
  </body>
</html>
