<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello.</h3>
    <p>You recently attempted to login from somewhere we didn't recognize. If that really was you, click below verify your device:</p>
    <a href="<%= @verification_url %>">Verify Device</a><br />
    <p>If you didn't try and login recently you can safely ignore this email. Thanks!</p>
    <p>The mino team</p>
  </body>
</html>
